@font-face {
    font-family: 'google_sansbold';
    src: url('googlesans-bold-webfont.woff2') format('woff2'),
         url('googlesans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'google_sansbold_italic';
    src: url('googlesans-bolditalic-webfont.woff2') format('woff2'),
         url('googlesans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'google_sansitalic';
    src: url('googlesans-italic-webfont.woff2') format('woff2'),
         url('googlesans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'google_sansmedium';
    src: url('googlesans-medium-webfont.woff2') format('woff2'),
         url('googlesans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'google_sansmedium_italic';
    src: url('googlesans-mediumitalic-webfont.woff2') format('woff2'),
         url('googlesans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'google_sansregular';
    src: url('googlesans-regular-webfont.woff2') format('woff2'),
         url('googlesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



strong
{
    font-family: google_sansregular,sans-serif;
    color: white;
    font-weight: 600;
}
span
{
    font-family: google_sansregular,sans-serif;
    color: white;
    font-weight: 600;
}



body {
    background-color: lightsteelblue;
    font-family: google_sansregular, sans-serif, goole_sansmedium, bold;}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=date], input[type=password], input[type=uname], input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
    font-family: google_sansmedium,sans-serif;
}

/* Set a style for all buttons */
button {
  background-color: dodgerblue;
  color: white;
  padding: 16px 26px;
  margin: 8px 0;
  align-content: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button {
  background-color: dodgerblue;
  color: white;
  padding: 16px 26px;
  margin: 8px 0;
  align-content: center;
  border: none;
  cursor: pointer;
  width: 100%;
    font-family: google_sansmedium,sans-serif;
}


button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 400px;
  color: #000;
  top: auto;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  p.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
  .cancelbtn {
     width: 100%;
  }
}
h4,h6
{
    align-content: center;
    
}